.statBarContainer {
    display: flex;
    width: 12vw;
}

.statBar {
    width: 100%; 
    height: 10px; 
    background-color: transparent;
    border-radius: 10px;
    margin-right: 2px; 
    background-color: rgba(175, 175, 175, 0.548);
}

.filled {
    background-color: #ffffff;
    backdrop-filter: blur(5px);
}
